.section {
    margin-top: 100px;
    display: grid;
    row-gap: 40px;

    .header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
    }
}