.container {
    display: grid;
    margin: 160px auto 0 auto;
    row-gap: 40px;

    .borderSection {
        display: grid;
        row-gap: 10px;

        .board {
            border: 1px solid #E4E7EC;
            border-collapse: collapse;

            tr {
                border: 1px solid #E4E7EC;
            }

            td {
                text-align: center;
                font-size: 18px;
            }

            thead td {
                font-weight: bold;
            }

            tbody td:nth-child(3) {
                width: 600px;
            }
        }
    }
}